<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script defer src="/js/InfiniteScroll.js"></script>
    <meta
            name="description"
            content="더도 말고 덜도 말고 딱 1인분만 필요한 1인 가구에게 쓸데없는 지출 비용을 절약할 수 있도록 동네 사람들과 아주 소소한 물건들을 같이 구매하여 소분할 수 있는 커뮤니티"
    />
    <meta
            name="keywords"
            content="소분,공동구매"
    />
    <meta
            name="og:site_name"
            content="#소분해요"
    />
    <meta
            name="og:title"
            content="#소분해요 메인페이지"
    />
    <meta
            name="og:description"
            content="더도 말고 덜도 말고 딱 1인분만 필요한 1인 가구에게 쓸데없는 지출 비용을 절약할 수 있도록 동네 사람들과 아주 소소한 물건들을 같이 구매하여 소분할 수 있는 커뮤니티"
    />
    <meta
            name="og:type"
            content="website"
    />
    <meta
            name="og:url"
            content="https://share_with.com"
    />
    <meta
            name="og:image"
            content="/assets/thumbnail.png"
    />
    <meta
            name="twitter:title"
            content="#소분해요"
    />

    <title>#소분해요</title>

    <script defer src="https://cdn.swygbro.com/public/widget/swyg-widget.js"></script>

    <style>
        .nickNameBold {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="head-menu">
        <div>
            <a>
                <img src="/assets/title.png" class="title-img" th:onclick="|location.href='@{/}'|" style="cursor: pointer">
            </a>
        </div>
<!--        <div class="search-item">-->
            <form th:object="${articleSearch}" class="search-item">
                <input type="text" th:field="*{itemType}" placeholder="소분하고 싶은 물건을 빠르게 찾아보세요">
                <button type="submit">
                    <img src="/assets/search.png">
                </button>
            </form>
<!--        </div>-->
        <div class="user-auth" th:if="${loginMember}">
            <button th:text="|${loginMember.nickName}님 반가워요|" class="nickNameBold"></button>
            |
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit">로그아웃</button>
            </form>
        </div>
        <div class="user-auth" th:unless="${loginMember}">
            <button th:onclick="|location.href='@{/login/member}'|">로그인</button>
            |
            <button th:onclick="|location.href='@{/register/member}'|">회원가입</button>
        </div>
    </div>
    <div>
        <div class="register-btn">
            <button  th:onclick="|location.href='@{/register/article}'|">글 등록하기</button>
        </div>
        <div class="cards-container" id="cards-container">
                <!-- 판매 중인 아이템 -->
                <div class="item-card" th:each="article : ${articles}" th:id="${article.id}" th:onclick="|location.href='@{/articles/{articleId}/(articleId=${article.id})}'|">
                    <div th:if="${article.limitPersonnel} == ${article.applicationPersonnel}" class="overlay">
                        모집 완료
                    </div>
                    <img class="item-img" th:src="|/article/images/${article.imageFiles[0].storeFileName}|">
                    <div class="item-content">
                        <p th:text="${article.title}"></p>
                    </div>
                    <div class="applicant-area">
                        <div>
                            <p th:text="${article.location}">
                        </div>
                        &nbsp;|&nbsp;
                        <div>
                            <p th:text="${article.applicationPersonnel} + '/' + ${article.limitPersonnel}" style="display: inline;"></p>
                            <img class="applicant-img" src="/assets/applicant.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="more-item">-->
<!--        <button>-->
<!--            <img src="/assets/dropdown.png" style="width: 30px; height: 37px;">-->
<!--        </button>-->
<!--    </div>-->
</div>
</body>
</html>